*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
}


body{
    background-color: #F2F4F7;
    min-height: 100vh;
}

.container-face{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-logo{
    height: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
}

.container-face h1{
    margin-top: 2rem;
    margin-bottom: .5rem;
    color: #4DA421;
}

.container-logo p{
    font-size: 2rem;
    width: 500px;
    margin-left: 40px;
    font-weight: 500;
    text-align: center;
}

.container-login{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

form{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.192);

    margin-bottom: 5rem;
}

form input{
    height: 50px;
    width: 450px;
    margin-bottom: 20px;
   padding: 30px 15px;
   font-size: 1.2rem;
   border-radius: 8px;
   border: 1px solid #DDDFE2;
   outline: none;
}

.btn-entrar{
    background-color: #3F77F3;
    width:450px ;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
}


form p a{
  font-size: 1.2rem;
  color: #3966FF;
}

form p a:hover{
    text-decoration: underline;
}

form p{
    margin-bottom: 30px;
}

.linha{
    border-top: 1px solid rgba(0, 0, 0, 0.274);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.btn-conta{
    background-color: #4DA421;
    font-size: 1.4rem;
    font-weight: 700;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn-conta:hover{
     background-color: #3a7c18;
}

.txt{
   font-size: 1.1rem;
   width: 500px;
   margin-bottom: 3rem;
}

.txt a{
    color: black;
    font-weight: 600;
}

.txt a:hover{
    text-decoration: underline;
}


@media (max-width:900px){
 .container-face{
    flex-direction: column;
 }

 .container-logo{
    height: auto;
    margin-bottom: 3rem;
    width: 100%;
 }

 .container-logo p{
    font-size: 1.2rem;
    width: 200px;
 }

 .container-logo p{
    margin: 0px;
 }

 .container-login{
    width: 100%;
    justify-content: center;
    align-items: center;
 }

 form input{
    width: 300px;
 }

 .btn-entrar{
    width: 300px;
    font-size: 1.2rem;
 }

 
.btn-conta{
    width: 300px;
    font-size: 1.2rem;
    padding:10px ;
}


.txt{
    width: 300px;
}
}

@media(max-width: 500px){
    img{
        width: 200px;
    }
}